/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org
 */

.tree-view {
  ol.entries.list-tree li {
    font-size: 8pt;

    span.icon:before {
      font-size: 12pt;
    }
  }

  .list-item {
    &:before {
      margin-right: 2 !important;
    }
  }
}

.editor {
  .cursor {
    border-left-width: 2px;
  }

  .invisible-character {
    color: rgba(197, 200, 198, 0.2);
  }

  .line, .line-number {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
  }

  .line.cursor-line {
    background: rgba(150, 150, 150, 0.1);
    border-bottom: 1px solid rgba(250, 150, 0, 1);
  }

  .git-commit.line-too-long.deprecated {
    color: orange;
    text-decoration: none;
  }

  .git-commit.line-too-long.illegal {
    color: #fff;
    background: #DA2C43;
    opacity: 0.9;
  }
}

.vertical {
  .pane {
    opacity:0.40;

    &.active {
      opacity: 1.0;
    }

    ul.list-inline.tab-bar {
      height:      27px;
      line-height: 27px;

      li.tab, li.tab.active {
        height: 20px;
        top:    2px;
        cursor: pointer;

        &.modified:not(:hover) .close-icon {
          top:    6px;
          height: 8px;
          width:  8px;
        }

        &:before, .title, .close-icon {
          height:      20px;
          line-height: 20px;
          font-size:    9pt;
          cursor:      pointer;
        }

        .close-icon:hover {
          color: #f88;
        }
      }
    }
  }

  .panes .pane-row > *,
  .panes .pane-column > * {
    border-right: 1px solid rgba(150, 150, 150, 0.2);
  }
}

.minimap .lines {
  font-family: Monaco;
}

// hide scrollbar
.with-minimap .vertical-scrollbar {
  opacity: 0;
  width: 0;
}

// Used when using Solarized Dark
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0);
  &:hover {
    background-color: rgba(0, 0, 0, 0.15);
  }
}

::-webkit-scrollbar-track {
  background-color: #444;
  box-shadow: 0 0 5px black inset;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: 0 0 1px black inset;
  background-color: rgba(255, 255, 255, 0.15);
  &:hover {
    background-color: rgba(255, 255, 255, 0.25);
  }
}

::-webkit-scrollbar-thumb:hover {
  background-color: #111;
  box-shadow: 0 0 2px black inset;
}
